[user]
	name = coderfee
	email = coderfee@outlook.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	s = status
	a = add
	cm = commit -m
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ss = status --short
	unstage = reset HEAD --
	discard = checkout --
	br = branch
	co = checkout
